<div class="news-container">
  <!-- Featured News -->
  <div class="featured-news" *ngIf="newsList.length > 0" (click)="openNewsDetail(newsList[0])">
    <div class="featured-content">
      <h2 class="featured-title">{{ newsList[0].title }}</h2>
      <p class="featured-description" *ngIf="newsList[0].content">
        {{ newsList[0].content | slice:0:180 }}{{ newsList[0].content.length > 180 ? '...' : '' }}
      </p>
      <div class="featured-meta">
        <span class="featured-date">
          <i class="far fa-calendar-alt me-1"></i>
          {{ newsList[0].publishDate| date:'MMM d, yyyy' }}  &nbsp;
        </span>
        <a [href]="newsList[0].url" target="_blank" rel="noopener noreferrer" class="read-more" (click)="$event.stopPropagation()">
            Read Article <i class="fas fa-external-link-alt ms-1"></i>
        </a>
        <br>
        <span class="source-pill text-muted">&nbsp;&nbsp;Source: {{ newsList[0].source }}</span>
      </div>
    </div>
  </div>
  <!-- News Grid -->
  <div class="news-grid">
    <div class="news-card" 
         *ngFor="let news of newsList?.slice(1); let i = index">
      <div class="card-header">
        <h4 class="card-title" (click)="openNewsDetail(news)">{{ news.title }}</h4>
        
        <p class="card-description" *ngIf="news.content">
          {{ news.content| slice:0:100 }}{{ news.content.length > 100 ? '...' : '' }}
        </p>
        <div class="card-actions">
          <a [href]="news.url" 
             target="_blank" 
             rel="noopener noreferrer"
             class="read-link">
            <i class="fas fa-external-link-alt me-1"></i> Read Original
          </a>
          <br>
          <span class="source-pill text-muted">Source: {{ news.source }}</span>
          <br>
          <span class="date-pill text-muted"> <i class="far fa-calendar-alt me-1"></i>
            {{ newsList[0].publishDate| date:'MMM d, yyyy' }}</span>
          </div>
      </div>
    </div>
  </div>
</div>