<nav class="navbar navbar-expand-lg  navbar-dark  fixed-top mb-6">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <span class="icon"> <i class="fa fa-caret-square-o-right" aria-hidden="true"></i></span>
      Stocker</a>

      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- <div class="row  ms-auto" > -->
        <form class="search-container m-2" (submit)="onSearch()">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            name="searchTerm"
            placeholder="Search for stocks, ETFs or tickers"
          />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <ul class="nav-links m-2">
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/stocks">Stocks</a></li>
          <li><a routerLink="/etfs">ETFs</a></li>
          <li><a routerLink="/suggested">Suggested</a></li>
          <li><a routerLink="/news">News</a></li>
          <li><a routerLink="/community">Community</a></li>
        </ul>
    <!-- </div> -->
   

<!-- User logging -->
      <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex ms-auto">
        <input name="Username" 
        [(ngModel)]="model.Username" 
        class="form-control me-2" 
        placeholder="Username" >
        <input 
        name="password"
        [(ngModel)]="model.Password"
        class="form-control me-2" 
        placeholder="Password" 
        type="password"  >
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
